@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f8efe8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: 50%;
}

.left-section h2 {
    font-size: 32px;
    color: #3c3633;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: #3c3633;
}

.input-box {
    width: 100%;
    margin-top: 6px;
    padding: 15px;
    border-radius: 30px;
    border: 1.5px solid #d3c8c1;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
}

.input-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
}

.icon {
    font-size: 18px;
}

.eye {
    font-size: 16px;
    cursor: pointer;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.forgot {
    position: absolute;
    right: 10px;
    bottom: -22px;
    font-size: 13px;
    color: #3c3633;
    text-decoration: none;
}


.login-btn {
    display: inline-block;
    padding: 14px 30px;
    background: linear-gradient(135deg, #f4c7a5, #e8b491);
    border-radius: 35px;
    text-decoration: none;
    color: #3c3633;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.login-btn:hover {
    background: linear-gradient(135deg, #eeb892, #df9f79);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    transform: translateY(-3px);
}

.login-btn:active {
    transform: scale(0.96);
}



.or {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #a89084;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.social-icons img {
    width: 30px;
    cursor: pointer;
}

.signup-text {
    font-size: 14px;
    margin-top: 10px;
    color: #3c3633;
}

.signup-text a {
    color: #d67a2e;
    text-decoration: none;
    font-weight: 600;
}

.right-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arch-bg {
    position: relative;
    width: 420px;
}

.arch-bg .arch {
	height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;      /* background */
}

.arch-bg .person {
    width: 340px;
    position: relative;
    z-index: 2;      /* above background */
    display: block;
    margin: 80px auto 0; /* adjust for perfect alignment */
}

